.carousel-imgs-container {
  width: 80%;
  margin: 0 auto;
}

.carousel-container {
  border: 0px solid red;
}

.carousel-item-padding-40-px {
  width: 150px;
  height: 200px;
  object-fit: fill;
  border: 0px solid blue;
}

.carousel-img-container {
  /* width: 150px; */
  /* height: 50px; */
  /* object-fit: contain; */
  border: 2px solid blue;
}
