.no-border-button {
  border: none;
  background: none;
}

.favorite-icon-pendiente-seguir {
  color: rgb(52, 67, 151);
}

.favorite-icon-siguiendo {
  color: rgb(35, 206, 49);
}

/* 
.ToggleButtonCity {
  color: red;
  background-color: transparent;
  border: 0px;
}

.favorite-icon {
  margin: 0 0 0 0px;
} */
